<ion-tabs>
  <ion-tab-bar id="tab-bar" slot="bottom" color="primary">
    <ion-tab-button tab="feed" href="/tabs/feed">
      <ion-icon aria-hidden="true" name="cafe-outline"></ion-icon>
      <ion-label>Feed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sources" href="/tabs/sources">
      <ion-icon aria-hidden="true" name="list-outline"></ion-icon>
      <ion-label>Sources</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="discover" href="/tabs/discover">
      <ion-icon aria-hidden="true" name="compass-outline"></ion-icon>
      <ion-label>Discover</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="saved" href="/tabs/saved">
      <ion-icon aria-hidden="true" name="layers-outline"></ion-icon>
      <ion-label>Saved</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
