// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/* This sets a different item border color for the default theme on ios and md */
:root {
	/* primary */
	--ion-color-primary: #28294f;
	--ion-color-primary-rgb: 40,41,79;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #232446;
	--ion-color-primary-tint: #3e3e61;

	/* secondary */
	--ion-color-secondary: #469FEB;
	--ion-color-secondary-rgb: 70,159,235;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #3e8ccf;
	--ion-color-secondary-tint: #59a9ed;

	/* tertiary */
	--ion-color-tertiary: #EB8D5E;
	--ion-color-tertiary-rgb: 235,141,94;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #cf7c53;
	--ion-color-tertiary-tint: #ed986e;
}

html {
  /* 
   * For more information on dynamic font scaling, visit the documentation:
   * https://ionicframework.com/docs/layout/dynamic-font-scaling
   */
  --ion-dynamic-font: var(--ion-color-secondary);
}

a {
	color: var(--ion-color-secondary-shade);
}

ion-tab-bar {
  padding-bottom: var(--safe-area-inset-bottom);
}

/* This sets a different item background when dark mode is enabled on ios and md */
@media (prefers-color-scheme: dark) {
	:root.ios a,
	:root.md a {
		color: var(--ion-color-secondary-tint);
	}

	:root.md {
		--ion-background-color: #1e1e1e;
	}
}
