<!-- Menu Bar -->
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Filter</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    Last Updated: {{ formatDateAsLong(feedService.lastUpdated, settingsService.getSettings().locale) }}
    <br />
    <br />
    <ion-list>
      @for (source of sourcesService.getSources(); track source.url) {
        <ion-item button (click)="filterByUrl(source.url)">
          @if (source.url === filter) {
            <ion-label color="secondary">{{source.title}}</ion-label>
          }
          @else {
            <ion-label>{{source.title}}</ion-label>
          }            
        </ion-item>
      }
    </ion-list>
    <br />
    <ion-button ion-button (click)="filterClear()" [disabled]="filter === ''">Clear Filter</ion-button>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-buttons collapse="true" slot="start">
        <ion-menu-toggle>
          <ion-button>
            <ion-icon color="medium" name="filter-outline"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-title>Feed</ion-title>
      <ion-buttons collapse="true" slot="end">
        <ion-button slot="end" (click)="openSettings()">
          <ion-icon color="medium" name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!-- Collapsable Header iOS -->
  <ion-content #mainFeed id="main-feed" [scrollEvents]="true" (ionScroll)="handleScroll($any($event))" [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-buttons collapse="true" slot="start">
          <ion-menu-toggle>
            <ion-button>
              <ion-icon color="medium" name="filter-outline"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
        <ion-title size="large">Feed</ion-title>
        <ion-buttons collapse="true" slot="end">
          <ion-button slot="end" (click)="openSettings()">
            <ion-icon color="medium" name="ellipsis-vertical"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <!-- Pull to refresh -->
    <ion-refresher slot="fixed" (ionRefresh)="feedService.syncEntriesWithUpstream($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!-- Feed list -->
    <app-article-list
      [entries]="feedService.entries"
      [filter]="filter"
      [settingsService]="settingsService"
      [formatDateRelative]="formatDateRelative"
      [formatDateAsDay]="formatDateAsDay"
      [openPreview]="openPreview"
      [addBookmark]="addBookmark"
      [removeBookmark]="removeBookmark"
    ></app-article-list>

    <!-- Return to top button -->
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      @if (currentScrollOffset > 10) {
        <ion-fab-button (click)="scrollToTop()">
          <ion-icon name="chevron-up-outline"></ion-icon>
        </ion-fab-button>
      }
    </ion-fab>

    <!-- Onboarding -->
    @if (feedService.entries.length === 0) {
      <div class="ion-text-center">
        It doesn't look like you have any feed items yet, would you like to <a href="/tabs/sources">add some sources?</a>
      </div>
    }
  </ion-content>
</div>
