<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Saved
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #savedFeed id="saved-feed" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Saved</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Bookmark list using shared ArticleListComponent -->
  @if (loading) {
    <app-skeletons [compressed]="settingsService.getSettings().compressedFeed" [cards]="3"></app-skeletons>
  }
  @else {
    <app-article-list
      [entries]="bookmarks.getBookmarks()"
      [filter]="''"
      [presentingElementId]="this.elementRef.nativeElement"
    ></app-article-list>
  }
</ion-content>
