<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Sources
    </ion-title>
    <ion-buttons collapse="true" slot="end">
      <ion-button slot="end" (click)="reorderSources()">
        <ion-icon color="medium" name="swap-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sources</ion-title>
      <ion-buttons collapse="true" slot="end">
        <ion-button slot="end" (click)="reorderSources()">
          <ion-icon color="medium" name="swap-vertical-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="rssForm" style="display: flex; align-items: center; gap: 8px;">
    <ion-input
      [(ngModel)]="inputUrl"
      formControlName="url"
      type="url"
      placeholder="Please enter an RSS/Atom Feed URL"
      helperText="Enter a valid url"
      errorText="Invalid url"
      [clearOnEdit]="true"
      style="flex: 1 1 0;"
    ></ion-input>
    <ion-button (click)="addUrl(inputUrl)" [disabled]="!rssForm.valid">Add Feed</ion-button>
  </form>

  <!-- Import/Export OPML -->
  <ion-button (click)="importOPMLInput.click()">Import OPML</ion-button>
  <input #importOPMLInput type="file" accept=".opml,.xml,text/xml,application/xml,application/octet-stream" style="display:none" (change)="importOPML($event)" />
  <ion-button (click)="exportOPML()">Export OPML</ion-button>
  


  <ion-list>
    @for (source of sourcesService.getSources(); track source.url) {
      <ion-item-sliding>
        <ion-item>
          <ion-label>
            <strong>{{source.title}}</strong>
            <br />
            <ion-text>{{source.url}}</ion-text>
            <br />
            <ion-note color="medium">{{source.description}}</ion-note>
          </ion-label>
          @if (source.healthy) {
            <ion-icon color="success" slot="end" name="checkmark-circle-outline"></ion-icon>
          }
          @else {
            <ion-icon color="danger" slot="end" name="close-circle-outline"></ion-icon>
          }
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="secondary">
            <ion-icon slot="icon-only" name="create" (click)="editUrl(source)"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" name="trash" (click)="sourcesService.removeSource(source.url)"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    }
  </ion-list>

  <!-- // Onboarding -->
  @if (sourcesService.getSources().length === 0) {
    <div class="ion-text-center" >
      It doesn't look like you have any sources yet, would you like to <a href="/tabs/discover">discover some?</a>
    </div>
  }

</ion-content>
