<!-- Article List Component Template -->
<ion-list>
  @for (entry of entries; track entry) {
    <div>
      @if (filter === '' || entry.feedUrl === filter) {
        <div>
          @if (!settingsService.getSettings().compressedFeed) {
            <div>
              <ion-card [button]="true" (click)="openPreview(entry.title, entry.content, entry.link)" [class.highlighted]="entry.highlighted">
                @if (settingsService.getSettings().showImages) {
                  <div class="card-image">
                    @if (entry.imgLink !== null) {
                      <img alt="Entry Cover Image" src="{{ entry.imgLink }}" />
                    }
                  </div>
                }
                <ion-card-header>
                  <ion-card-subtitle>
                    {{entry.source}} | {{formatDateRelative(entry.isoDate, settingsService.getSettings().locale)}}
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-item class="ion-no-padding" style="--ion-item-background: transparent;">
                      <ion-label>{{entry.title}}</ion-label>
                      @if (entry.bookmark !== true) {
                        <ion-button slot="end" fill="clear" (click)="this.addBookmark($event, entry)">
                          <ion-icon color="medium" name="bookmark-outline"></ion-icon>
                        </ion-button>
                      }
                      @if (entry.bookmark !== false) {
                        <ion-button slot="end" fill="clear" (click)="this.removeBookmark($event, entry)">
                          <ion-icon color="medium" name="bookmark"></ion-icon>
                        </ion-button>
                      }
                    </ion-item>
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  {{entry.contentStripped}}
                </ion-card-content>
              </ion-card>
            </div>
          }
          @if (settingsService.getSettings().compressedFeed) {
            <div>
              <ion-item [button]="true" (click)="openPreview(entry.title, entry.content, entry.link)" [class.highlighted]="entry.highlighted">
                @if (settingsService.getSettings().showImages) {
                  <div>
                    @if (entry.imgLink !== null) {
                      <ion-thumbnail slot="start">
                        <img alt="Entry Cover Image" src="{{ entry.imgLink }}" />
                      </ion-thumbnail>
                    }
                  </div>
                }
                <ion-label>
                  <strong>{{entry.title}}</strong><br />
                  <ion-text>{{entry.source}}</ion-text><br />
                  <ion-note color="medium" class="ion-text-wrap">{{entry.contentStripped}}</ion-note>
                </ion-label>
                <div class="metadata-end-wrapper" slot="end">
                  <ion-note color="medium">{{formatDateAsDay(entry.isoDate, settingsService.getSettings().locale)}}</ion-note>
                </div>
              </ion-item>
            </div>
          }
        </div>
      }
    </div>
  }
</ion-list>
