<ion-content class="ion-padding">
  <h1>Preferences</h1>
  <ion-list>
    <ion-item>
      <ion-toggle checked="currentSettings.preview" [(ngModel)]="currentSettings.preview" 
      (ionChange)="update()"> Show entry preview </ion-toggle>
    </ion-item>
    <ion-item>
      <ion-select label="Show entry image" [(ngModel)]="currentSettings.showImages" (ionChange)="update()">
        <ion-select-option value="never">Never</ion-select-option>
        <ion-select-option value="whenHighlighted">When Highlighted</ion-select-option>
        <ion-select-option value="always">Always</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select label="Show entry snippet" [(ngModel)]="currentSettings.showSnippet" (ionChange)="update()">
        <ion-select-option value="never">Never</ion-select-option>
        <ion-select-option value="whenHighlighted">When Highlighted</ion-select-option>
        <ion-select-option value="always">Always</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-toggle checked="currentSettings.compressedFeed" [(ngModel)]="currentSettings.compressedFeed" 
      (ionChange)="update()"> Compress feed display </ion-toggle>
    </ion-item>
    <ion-item>
      <ion-select label="Country" placeholder="currentSettings.locale" [(ngModel)]="currentSettings.locale"
      (ionChange)="update()">
      @for (country of countryCodeList; track country.countryNameEn) {
        <ion-select-option value={{getCountryTag(country)}}>{{country.countryNameEn}}</ion-select-option>
      }
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select label="Network Connection"
      [(ngModel)]="retrievalTimeout" (ionChange)="update()">
        <ion-select-option value="2500">Fast</ion-select-option>
        <ion-select-option value="5000">Average (Default)</ion-select-option>
        <ion-select-option value="10000">Slow</ion-select-option>
        <ion-select-option value="60000">Unbearable</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select label="Default Polling Frequency"
      [(ngModel)]="defaultPollingFrequency" (ionChange)="update()">
        <ion-select-option value="0">Unlimited (Default)</ion-select-option>
        <ion-select-option value="60">1 minute</ion-select-option>
        <ion-select-option value="600">10 minutes</ion-select-option>
        <ion-select-option value="3600">1 hour</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select label="Max Feed Items per Feed (Can impact app performance)"
      [(ngModel)]="maxFeedLength" (ionChange)="update()">
        <ion-select-option value="1">1 item</ion-select-option>
        <ion-select-option value="10">10 items (Default)</ion-select-option>        
        <ion-select-option value="25">25 items</ion-select-option>
        <ion-select-option value="50">50 items</ion-select-option>
        <ion-select-option value="100">100 items</ion-select-option>
        <ion-select-option value="0">Unlimited</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item button (click)="openMutedWordsDialog()">
      <ion-label>Muted Words</ion-label>
      <ion-note slot="end">{{ (currentSettings.mutedWords || []).length }}</ion-note>
    </ion-item>
    <ion-item button (click)="openHighlightedWordsDialog()">
      <ion-label>Highlighted Words</ion-label>
      <ion-note slot="end">{{ (currentSettings.highlightedWords || []).length }}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
